body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  background-color: #958d8d;
  border: 400px solid rgb(149, 32, 212);
}
button {
  padding: 10px 20px;
  font-size: 16px;
}
.otr {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}
